<div class="container corpora">
    <h3>My Corpora</h3>
    <div class="corpora-pagination">
        <span class="step-links">
          {% if corpora.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ corpora.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ corpora.number }} of {{ corpora.paginator.num_pages }}.
          </span>

          {% if corpora.has_next %}
              <a href="?page={{ corpora.next_page_number }}">next</a>
              <a href="?page={{ corpora.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
    </div>
    <button type="submit" id="corpus-annotate-btn" class="btn btn-primary corpora-submit-btn">Annotate</button>
    <button type="submit" id="corpus-delete-btn" class="btn btn-danger corpora-submit-btn">Delete</button>
    <div class="corpus-items">
        <div class="row corpus-item">
            <div class="col-sm-8">
                <h5>Name</h5>
            </div>
            <div class="col-sm-2">
                <h5>Date</h5>
            </div>
            <div class="col-sm-2">
                <button id="corpora-select-all" class="btn btn-link">select all</button>
            </div>
        </div>
        <form id="corpora-form" method="post">
            {% csrf_token %}
            {% for corpus in corpora %}
                <div class="row corpus-item">
                    <div class="col-sm-8">
                        {% if corpus.is_annotated %}
                            <i class="fa fa-pencil-alt" style="color:green"></i>
                            <a href="/corpora/{{corpus.name}}">
                                {{corpus.name}}
                            </a>
                        {% else %}
                            <i class="fa fa-pencil-alt" style="color:white"></i>
                            {{corpus.name}}
                        {% endif %}
                    </div>

                    <div class="col-sm-2">
                        {% if corpus.get_year %}
                            {{corpus.get_year}}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                    <div class="col-sm-2">
                        <input class="corpus-checkbox" name="name" value={{ corpus.name }}  type="checkbox">
                    </div>
                </div>
            {% endfor %}
            <input type=hidden name='page' value={{ corpora.number }} />
        </form>
    </div>
    <div class="corpora-pagination">
    <span class="step-links">
        {% if corpora.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ corpora.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ corpora.number }} of {{ corpora.paginator.num_pages }}.
        </span>

        {% if corpora.has_next %}
            <a href="?page={{ corpora.next_page_number }}">next</a>
            <a href="?page={{ corpora.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
