{% load staticfiles %}

<canvas id="myChart"></canvas>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        var ctx = $("#myChart").get(0).getContext("2d");
        var opts = {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        console.log({{chart_data|safe}})
        new Chart(ctx, {
            type: "{{chart_type}}", data: {{chart_data|safe}}, options: opts,
        });
    });
</script>
