{% extends 'base.html' %}
{% load partials %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Analysis{% endblock %}</title>
  </head>
  <body>
    {% block pagecontent %}
    <div class="container analysis">
      <h3>Analysis</h3>
      <div class="concordance-filters">
        <form id="analysis-form" action="analysis" method="post">
          {% csrf_token %}
          <div class="row form-group">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="concordance-query">Query</label>
                {{form.query}}
              </div>
            </div>
            <div class="col-sm-4">
              <label for="concordance-dates">Years</label>
              {{form.years}}
            </div>
            <div class="col-sm-4">
              <label >Semantic Roles</label>
              <ul id="id_srl">
                {% for c, t in form.srl.field.choices %}
                <li>
                  <label>
                    <input type="checkbox" name="srl" value={{c}} id="id_srl_0" {% if c in form.srl.value %}checked{% endif %}>
                    {{t}}
                  </label>
                  <span class="color-box {{t}}"></span>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Query</button>
          <button id="btn-download-counts" class="btn btn-primary">Download Counts
          </button>
        </form>
      </div>
      {% if analysis is not None %}
        <div class="row graph">
          <div class="col-sm-8 offset-sm-2">
            <img src="data:image/gif;base64,{{figure}}" width="100%">
            <form id="save-graph-form" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-4">
                  <label for="graph-name">Name</label>
                  {{ graph_form.name }}
                </div>
                <div class="col-sm-4">
                  <label for="graph-file-type">File Type</label>
                  {{ graph_form.file_type }}
                </div>
                <div class="col-sm-4 form-submit">
                  <input type="submit" class="btn btn-primary" value="Save Graph">
                </div>
              </div>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
    {% endblock %}
  </body>
</html>
